h4{font-size: 100px; background-color: blueviolet; text-decoration: underline;}
.hidden{margin: 3px; border: 10px dotted rgb(224, 9, 9); border-radius: 8px; box-shadow: 10px 10px 5px #3f0404;}
.dola{border: 3px solid rgb(58, 1, 10); display: block; width: 80px; margin: 50px; padding: 50px; disllayinline-block: 50px;}
.Basic{height: 200px; background-color: #3f0404; background-repeat: no-repeat; background-size: contain; background-position: center; imageshadow: 10px 10px 5px #08b656;}
